<!-- ******************************************************************************
***********************************************************************************
******* TO CHANGE THE VISIBILITY OF HEADER FROM PARENT COMP ADD [header]="false" *** 
******* TO CHANGE THE NUMBER OF LINES FROM PARENT COMP ADD [line]="19" **************
************************************************************************************
*********************************************************************************-->
<app-divider>
    Placeholder Component
</app-divider>
<app-placeholder></app-placeholder>

<app-divider>
    Segment Component
</app-divider>
<app-segment>
    <header>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>
    <div class="ui primary button">Add Document</div>
</app-segment>